<div class="container">
  <h2 class="title">Password List</h2>

  <div *ngIf="passwords.length === 0">
    <p>No passwords found.</p>
  </div>

  <ul *ngIf="passwords.length > 0">
    <li *ngFor="let password of passwords">
      <div class="list-items">
        <span *ngIf="!password.isEditing; else editFields">
          <strong>ID:</strong> {{ password.id }} <br>
          <strong>Category:</strong> {{ password.category }} <br>
          <strong>App:</strong> {{ password.app }}  <br>
          <strong>User Name:</strong> {{ password.userName }}  <br>
          <strong>Encrypted Password:</strong> {{ password.encryptedPassword }}  <br>
          <button (click)="editPassword(password)" class="list-btn">Edit</button>
          <button (click)="deletePassword(password.id)" class="list-btn">Delete</button> <br>
        </span>
        <ng-template #editFields>
          <div class="edit-fields">
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" [(ngModel)]="password.category">
            <label for="app">App:</label>
            <input type="text" id="app" name="app" [(ngModel)]="password.app">
            <label for="userName">User Name:</label>
            <input type="text" id="userName" name="userName" [(ngModel)]="password.userName">
            <!-- Display decrypted password -->
            <label for="decryptedPassword">Decrypted Password:</label>
            <input type="text" id="originalDecryptedPassword" name="originalDecryptedPassword" [(ngModel)]="password.originalDecryptedPassword">
            <button (click)="savePassword(password)" class="list-btn">Save</button>
            <button (click)="cancelEdit(password)" class="list-btn">Cancel</button>
          </div>
        </ng-template>
      </div>
    </li>
  </ul>

  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>

  <div class="filter-container">
    <h2>Filter Passwords</h2>
    <div>
      <label for="userNameFilter" class="filter-label">User Name:</label>
      <input type="text" id="userNameFilter" name="userNameFilter" [(ngModel)]="userNameFilter">
      <button (click)="getPasswordsByUsername()" class="filter-btn">Filter</button>
    </div>
    <div class="filter-list">
      <label for="appFilter" class="filter-label">App:</label>
      <input type="text" id="appFilter" name="appFilter" [(ngModel)]="appFilter">
      <button (click)="getPasswordsByApp()">Filter</button>
    </div>
    <button (click)="clearFilters()" class="clear-filter-btn">Clear Filters</button>

    <h2 class="form-title">Add New Password</h2>
    <form (submit)="addPassword()">
      <div>
        <label for="category">Category:</label>
        <select name="category" id="category" [(ngModel)]="category">
          <option value="" selected disabled hidden>Choose here</option>
          <option value="school">School</option>
          <option value="work">Work</option>
        </select>
      </div>
      <div>
        <label for="app">App:</label>
        <input type="text" id="app" name="app" [(ngModel)]="app"  placeholder="outlook">
      </div>
      <div>
        <label for="userName">User Name:</label>
        <input type="text" id="userName" name="userName" [(ngModel)]="userName"  placeholder="testuser@mytest.com" placeholder="testuser@mytest.com">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="password">
      </div>
      <div>
        <button type="submit">Add Password</button>
      </div>
    </form>
  </div>
</div>
